body{
    background-color: rgb(66, 222, 233) !important;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h2{
    text-align: center;
    padding-top: 15px;
}
#optionImages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
img{
    border: 5px solid rgb(111, 114, 111);
}